# chapter0
chapter0/.vscode
chapter0/node_modules
chapter0/build
chapter0/yarn-debug.log*
chapter0/yarn-error.log*

# origin
origin/.vscode
origin/node_modules
origin/build
origin/yarn-debug.log*
origin/yarn-error.log*